# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.pyc

# Keep the preview model but ignore modifications
!w.py
!sdata.py
!kp1.py
!kp2.py
!kp3.py
!kp4.py

# Ignore any future changes to the preview files
w.py
sdata.py
kp*.py
